<div class="session-wrapper">
  <h1>ログイン</h1>
  <p>※登録したメールアドレスとパスワードを入力してください。</p>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <h2>メールアドレス </h2>
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="field">
      <h2>パスワード </h2>
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="field">
        <%= f.check_box :remember_me %> パスワードを記憶する
      </div>
    <% end -%>

    <div class="actions">
      <%= f.submit "ログイン" , class: "submit-btn"%>
    </div>

  
  <% end %>
  <div class ="twitter-login">
  <%= link_to 'Twitterでログイン', user_twitter_omniauth_authorize_path, class: "api_link"%>
  <p>Twitterアカウントで登録すると、次回から簡単にログインできます。</p>
  </div>
  <%= render "users/shared/links" %>

</div>
