<%= stylesheet_link_tag 'hello', :media => "all" %>
<div class="intro">
  <img src ="/assets/takunomi.jpg">
    <div class ="top-text">
      <p class="title">今日は何飲む？</p>
      <p>宅飲みLoverのための情報共有SNS</p>
    </div>
</div>

<div class="about">
  <div class="about-wrapper">
    <p class="title">About</p>
    <p>gokugokuは宅飲みを充実させる情報共有サイトです。</p>
    <p>気になる新作の缶チューハイをチェックしたり、</p>
    <p>新しい宅飲みの楽しみ方を発見したり、</p>
    <p>gokugokuはあなたの<span>「おうち時間」</span>に楽しみを提供します。</p>
  </div>
</div>

  
<div class="service">

  <p class="title">Contents</p>

  <div class="block">

    <div class="picture-side">
      <div class="picture-block left">
        <%= link_to "", posts_path %>
        <img src="/assets/alcohols.png">
      </div>
    </div>

    <div class="discription-side">
      <div class="memo"></div>
      <div class="discription-wrapper">
        <%= link_to "", posts_path %>
        <p class="contents-title">Memo</p>
        <p>お酒の口コミページです。</p>
        <p>あなたの飲みたいお酒が</p>
        <p>見つかるかも？</p>
        <br>
        <p>美味しかったお酒は</p>
        <p>Memoに残して</p>
        <p>みんなにシェアしましょう！</p>
      </div>
    </div>


  </div>

  <div class="block">
    <div class="discription-side">
      <div class="gallery"></div>
      <div class="discription-wrapper">
      <%= link_to "", fotos_path %>
        <p class="contents-title">Gallery</p>
        <p>宅飲みの写真共有ページです。</p>
        <p>楽しいパーティや</p>
        <p>美味しい料理とお酒を</p>
        <p>写真でシェアしましょう！</p>
        <br>
        <p>新しい宅飲みのスタイルが</p>
        <p>見つかるかも？</p>
      </div>
    </div>

    <div class="picture-side">
      <div class="picture-block right">
        <%= link_to "", fotos_path %>
        <img src="/assets/gallery.png">
      </div>
    </div>
  </div>
  

</div>

<div class ="recommend">
  <p class="title">Recommend</p>
  <% @random.each do |r| %>
  <div class="random-wrapper">
    <%= link_to "", post_path(r.id) %>
    <div class="img-wrapper">
      <% if r.image? %>
        <img src=<%= r.image %>>
      <% else %>
        <img src="/assets/noimage.png">
      <% end %>
    </div>

    <div class="text-wrapper">
      <p><%= r.product %></p>
      <p class="post-title"><%= r.title %></p>

      <div class="rate">
        <p><i class="fas fa-star"></i> <%= r.rate %></p>
        <p><i class="fas fa-heart"></i> <%= r.likes.count %></p>
      </div>
    </div>
  </div>
  <% end %>

</div>