<div class= "left-container">
  
  <% if @user.image? %> 
    <a href="/users/<%= @user.id %>">                                                             
      <img src=<%= @user.image %> class = "icon_image">
    </a>
  <% else %>
    <a href="/users/<%= @user.id %>">
      <img src="/assets/noicon.jpg" class= "icon_image">
    </a>   
  <% end %>
  <h2><%= @user.name %></h2>

  <div class="follow">
    <h3><%= @user.followings.count %></h3>
    <p>フォロー</p>
    <a href="/users/<%= @user.id %>/followings"></a>
  </div>
  <div class="follow">
    <h3><%= @user.followers.count %></h3>
    <p>フォロワー</p>
    <a href="/users/<%= @user.id %>/followers"></a>
  </div>

  <div class="profile">
    <%= @user.profile %>
  </div>

  <%= render 'relationships/follow_button', user: @user %> 

  <br>
  <% if current_user.id == @user.id %>
    <div class= "edit">
      <%= link_to "編集", edit_user_registration_path%>
    </div>
  <% end %>

</div>
