<%= stylesheet_link_tag "users_show", :media => "all" %>
<div class= "user-wrapper">

  <!-- 画面左側のユーザーメニューを表示 -->
  <%= render 'user_info', user: @user %> 
  <div class ="right-wrapper">

    <div class="tabs">
      <input id="postview" type="radio" name="tab_item" checked>
      <label class="tab_item tab1" for="postview"><i class="fas fa-beer">
        </i>飲みメモ
      </label>
      <input id="foto" type="radio" name="tab_item">
      <label class="tab_item tab2" for="foto">
        <i class="fas fa-camera"></i>ギャラリー
      </label>
      <input id="like" type="radio" name="tab_item">
      <label class="tab_item tab3" for="like">
        <i class="far fa-heart"></i>いいねしたメモ
      </label>
      <input id="foto-like" type="radio" name="tab_item">
      <label class="tab_item tab4" for="foto-like">
        <i class="far fa-heart"></i>いいねしたフォト
      </label>

      <div class="tab_content" id="post_content" for="postview">
        <% @user.posts.first(5).each do |t| %>
        <div class ="postview">
          <p><%= t.product%></p>
          <h4><%= t.title%></h4>              
          <p>投稿日時: <%= t.created_at.to_s(:datetime_jp)%></p>
          <%= link_to "", post_path(t.id) %>
        </div>
        <% end %>
        
      </div>

      <div class="tab_content" id="foto_content" for="foto">
        <% if @user.posts.count >= 9 %>
          <div class ="allview-btn">
            <a href="/users/<%= @user.id %>/all_posts">すべて見る</a>
          </div>
        <% end %>
        <% @user.fotos.first(9).each do |t| %>
           <div class="fotoview-wrapper">
            <div class ="fotoview-post">
            <img src=<%= t.image_url %> class= "fotoview">
            <%= link_to "", foto_path(t.id) %>
              <div class="fotoview-option">
                <h4>♡ <%= t.fotoliked_users.count %></h4>
              </div>
            </div>
          </div>
        <% end %>
      </div>

      <div class="tab_content" id="like_content" for="like">
        <% @user.liked_posts.first(5).each do |t| %>
          <% if t.user.image? %> 
            <a href="/users/<%= t.user.id %>"><img src=<%= t.user.image %> class = "user-icon"></a>
          <% else %>
            <a href="/users/<%= t.user.id %>"><img src="/assets/noicon.jpg" class= "user-icon"></a>   
          <% end %>
          <div class ="postview">
            <p><%= t.product%></p>
            <h4><%= t.title%></h4>              
            <p>by <%= t.user.name%></p>
            <%= link_to "", post_path(t.id) %>
          </div>
        <% end %>
        <% if @user.posts.count >= 5 %>
          <div class ="allview-btn">
            <a href="/users/<%= @user.id %>/all_posts">もっと見る</a>
          </div>
        <% end %>
      </div>

      <div class="tab_content" id="fotolike_content" for="foto-like">
        <% if @user.posts.count >= 9 %>
          <div class ="allview-btn">
            <a href="/users/<%= @user.id %>/all_posts">すべて見る</a>
          </div>
        <% end %>
        <% @user.fotoliked_fotos.first(9).each do |t| %>
          <div class="fotoview-wrapper">
            <div class ="fotoview-post">
            <img src=<%= t.image_url %> class= "fotoview">
            <%= link_to "", foto_path(t.id) %>
              <div class="fotoview-option">
                <h4>♡ <%= t.fotoliked_users.count %></h4>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    


  </div>



</div>