<%= stylesheet_link_tag "users_show", :media => "all" %>
<div class= "user-wrapper">

  <div class= "left-container">
    
    <% if @user.image? %>                                                              
      <img src=<%= @user.image %> class = "icon_image">
    <% end %>
    <h2><%= @user.name %></h2>

    <div class="follow">
      <h3>12</h3>
      <p>フォロー</p>
    </div>
    <div class="follow">
      <h3>1</h3>
      <p>フォロワー</p>
    </div>

    <div class="profile">
      <%= @user.profile %>
    </div>

    


    <br>
    <% if current_user.id == @user.id %>
      <div class= "edit">
        <%= link_to "編集", edit_user_registration_path%>
      </div>
    <% end %>

  </div>

  
  <div class ="right-wrapper">

    <div class="tabs">
      <input id="postview" type="radio" name="tab_item" checked>
      <label class="tab_item tab1" for="postview">□投稿一覧</label>
      <input id="foto" type="radio" name="tab_item">
      <label class="tab_item tab2" for="foto">□飲みFoto</label>
      <input id="like" type="radio" name="tab_item">
      <label class="tab_item tab3" for="like">❤︎飲みたい!</label>
      <input id="foto-like" type="radio" name="tab_item">
      <label class="tab_item tab4" for="foto-like">♦︎いいねしたフォト</label>

      <div class="tab_content" id="post_content" for="postview">
        <h3>投稿一覧</h3>
        <% @user.posts.each do |t| %>
        <div class ="postview">
          <p><%= t.product%></p>
          <h4><%= t.title%></h4>              
          <p>投稿日時: <%= t.created_at.to_s(:datetime_jp)%></p>
          <%= link_to "", post_path(t.id) %>
        </div>
        <% end %>
      </div>
      <div class="tab_content" id="foto_content" for="foto">
          フォト
      </div>
      <div class="tab_content" id="like_content" for="like">
          飲みたい！<br>
          <% @user.like_posts.each do |t| %>
          <img src=<%= t.user.image %> class = "user-icon">
            <div class ="postview">
              <p><%= t.product%></p>
              <h4><%= t.title%></h4>              
              <p>by <%= t.user.name%></p>
              <%= link_to "", post_path(t.id) %>
            </div>
          <% end %>
      </div>
      <div class="tab_content" id="fotolike_content" for="foto-like">
          よいフォト
      </div>
    </div>

    


  </div>



</div>