<%= stylesheet_link_tag "users_show", :media => "all" %>
<div class= "container">

  <div class= "top-container">
    <h1><%= @user.name %>のマイページ</h1>
    <p><%= @user.profile %></p>
  </div>

  <% if current_user.id == @user.id %>
    <div class= "edit">
      <%= link_to "編集", edit_user_registration_path%>
    </div>
  <% end %>
  

  <div class ="user_post">
    <h3>投稿一覧</h3>
    <% @user.posts.each do |t| %>
      <p><%= link_to t.title, post_path(t.id) %></p>
    <% end %>
  </div> 



</div>