<%= stylesheet_link_tag 'index', :media => "all" %>

<div class="posts-container">
<h1>おつまみ</h1>
<p>宅飲みに欠かせないおつまみ・レシピを共有しましょう！</p>
<div class="btn-container">
  <div class="btn">
    <%= link_to "投稿", foods_new_path %>
  </div>
  <div class="btn">
    <%= link_to "検索", foods_search_path %>
  </div>
</div>

  <!--投稿表示-->
  <% @foods.each do |t| %>
    <div class="post">
      <div class="main-box">
        <h3><%= t.title %></h3>
        <p>投稿者: <%= t.user.name %></p>
        <div class="body-container">
          <%= safe_join(t.body.split("\n"),tag(:br)) %><br>
          <%= image_tag t.image_url if t.image? %>
        </div>
      </div>
        <div class="post-option">
          ♡いいね: <%= t.foodliked_users.count %>
          <%= link_to "", food_path(t.id) %>
          <p class="time">投稿日: <%= t.created_at.to_s(:datetime_jp) %></p>
          <br>
        </div>
    </div>
  <% end %>
</div>