<div class="posts-container">
  <h1><%= @beer.title %></h1>
  <div class="p-wrapper">
    <p>投稿者: <a href="/users/<%= @beer.user.id %>"><%= @beer.user.name %></a></p>
    <p>商品名: <%= @beer.product %></p>
    <p>メーカー: <%= @beer.maker %></p>
    <p>度数: <%= @beer.alcohol%></p>
    <p>評価: 
    <% if @beer.rate == 1 %>
      <img src ="/assets/star-on">
      <img src ="/assets/star-off">
      <img src ="/assets/star-off">
      <img src ="/assets/star-off">
      <img src ="/assets/star-off">
    <% elsif @beer.rate == 2%>
      <img src ="/assets/star-on">
      <img src ="/assets/star-on">
      <img src ="/assets/star-off">
      <img src ="/assets/star-off">
      <img src ="/assets/star-off">
    <% elsif @beer.rate == 3%>
      <img src ="/assets/star-on">
      <img src ="/assets/star-on">
      <img src ="/assets/star-on">
      <img src ="/assets/star-off">
      <img src ="/assets/star-off">
    <% elsif @beer.rate == 4%>
      <img src ="/assets/star-on">
      <img src ="/assets/star-on">
      <img src ="/assets/star-on">
      <img src ="/assets/star-on">
      <img src ="/assets/star-off">
    <% elsif @beer.rate == 5%>
      <img src ="/assets/star-on">
      <img src ="/assets/star-on">
      <img src ="/assets/star-on">
      <img src ="/assets/star-on">
      <img src ="/assets/star-on">
    <% end %>
    </p>
    <div class="body-container">
      <%= safe_join(@beer.body.split("\n"),tag(:br)) %><br>
      <%= image_tag @beer.image_url if @beer.image? %>  
    </div>
  </div>
  <p class="time">投稿日: <%= @beer.created_at.to_s(:datetime_jp) %></p>
  <h3>いいね: <%= @beer.beerlikes.count %></h3>

  <!-- 投稿者なら編集・削除、それ以外のユーザーならいいねボタンを表示 -->
  <% if user_signed_in? && current_user.id == @beer.user_id %> 
    <div class="btn"> 
      <%= link_to "編集", edit_beer_path(@beer.id) %>
    </div>
    <div class="btn">
      <%= link_to "削除", beer_path(@beer.id), data: { confirm: "投稿を削除しますか？" }, method: :delete %>
    </div>
    <% elsif user_signed_in? && current_user.id != @beer.user_id %>
    <% if current_user.already_beerliked?(@beer) %>
      <%= button_to '取り消し', beer_beerlike_path(@beer), method: :delete %>
    <% else %>
      <%= button_to 'いいね', beer_beerlikes_path(@beer) %>
    <% end %>
  <% end %>

  <div class="comment-wrapper">
    <h3>コメント一覧</h3>

    
    <% @beercomments.each.with_index(1) do |c, i| %>
      <!-- 最新コメントとして空のコメントが表示されるバグがあったので、最新コメントが表示されない処理-->
      <% if i != @beercomments.size %> 
        <div class="comment">
          [<%= i %>]
          <%= c.user.name unless c.user.blank? %>
          <% if current_user.id == c.user.id %>
            <%= link_to '削除', beer_beercomment_path(@beer, c), data: { confirm: "コメントを削除しますか？" }, method: :delete %>
          <% end %>
          <br>
          <%= safe_join(c.beercomment.split("\n"),tag(:br)) unless c.beercomment.blank? %>
        </div>
        <br>
        
      <% end %>
    <% end %>
    
    <% if user_signed_in? %>
      <p>コメントを投稿する</p>
      <%= form_with(model: [@beer, @beercomment], local: true) do |f| %>
        <%= f.text_area :beercomment%>
        <%= button_tag type: "submit" do %>
          <p>投稿</p>
        <% end %>
      <% end %>
      <% else %>
      <p>コメントを投稿するにはログインしてください。</p>
    <% end %>
  </div>
  
  <br>
  <div class ="btn">
    <%= link_to "戻る", beers_path %>
  </div>
</div>