
<div class="posts-container">
  <p class="page-title">Gokugoku Memo</h1>

  <div class="btn-container">
    <div class="btn">
      <%= link_to "投稿", posts_new_path %>
    </div>
    <input type="button" id="btn" value='検索'>

  </div>

  <!-- モーダル -->
  <%= render 'layouts/modal_search', model: "posts" %>

  <!--投稿表示-->
  <div class="memo-wrapper">
    <% @posts.each do |t| %>
      <div class="post">
        <div class="main-box">
          <%= link_to "", post_path(t.id) %>
          <div class ="top-info">
            <p class="title"><%= t.title %></p>
            <p><%= t.product %></p>
          </div>
          <div class="left-info">
            <p class="tag">Maker</p>
            <p><%= t.maker %></p>
            <p class="tag">Posted by</p>
            <p><%= t.user.name %></p>
          </div>
          <div class="right-info">
            <%= image_tag t.image_url if t.image? %>
          </div>

          <div class="bottom-info">
            <p><i class="fas fa-star"></i> <%= t.rate %></p>
            <p><i class="fas fa-heart"></i> <%= t.liked_users.count %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <%= paginate @pagination %>

</div>





