
<div class="posts-container">
  <p class="page-title">Gokugoku Memo</h1>

  <div class="btn-container">
    <div class="btn">
      <%= link_to "投稿", posts_new_path %>
    </div>
    <input type="button" id="btn" value='検索'>

  </div>

  <div id="modal" class="modal">
    <div class="modal-content">
      <div class="modal-body">
        <p class="title">Search</p>
        <%= form_tag({controller:"posts",action:"index"}, method: :get) do %>
          <%= text_field_tag :search %>
          <input type="submit" value="&#xf002;" class="fas search-btn">
        <% end %>
        <button id="closeBtn">
          <i class="fas fa-times"></i> CLOSE
        </button>
      </div>
    </div>
  </div>

  <!--投稿表示-->
  <div class="memo-wrapper">
    <% @posts.each do |t| %>
      <div class="post">
        <div class="main-box">
          <%= link_to "", post_path(t.id) %>
          <div class ="top-info">
            <p class="title"><%= t.title %></p>
            <p><%= t.product %></p>
          </div>
          <div class="left-info">
            <p class="tag">Maker</p>
            <p><%= t.maker %></p>
            <p class="tag">Posted by</p>
            <p><%= t.user.name %></p>
          </div>
          <div class="right-info">
            <%= image_tag t.image_url if t.image? %>
          </div>

          <div class="bottom-info">
            <p><i class="fas fa-star"></i> <%= t.rate %></p>
            <p><i class="fas fa-heart"></i> <%= t.liked_users.count %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <%= paginate @pagination %>

</div>

<script>

  var btn = document.getElementById('btn');  //id="btn"を取得する変数
  var modal = document.getElementById('modal');
  var closeBtn = document.getElementById('closeBtn');

  //第一引数にモーダルを発生させる動作、第二引数に効果（モーダルのdisplayをblockにする）
  btn.addEventListener('click', function() {
    modal.style.display = 'block';
  });

  //閉じる用
  closeBtn.addEventListener('click', function() {
  modal.style.display = 'none';
  });

</script>





