<div class="posts-container">
  <p class="page-title">Gokugoku Memo</h1>

  <div class="btn-container">
    <div class="btn">
      <%= link_to "投稿", posts_new_path %>
    </div>
    <input type="button" id="btn" value='検索'>

  </div>

  <!-- モーダル -->
  <%= render 'layouts/modal_search', model: "posts" %>

  <!--投稿表示-->
  <div class="post-container">
    <% @posts.each do |t| %>
    <div class="post-wrapper">
      <div class="post">
        <img src=<%= t.image_url %> class="post-image">
        <%= link_to "", post_path(t.id) %>
        <div class="post-option">
          <h4>♡ <%= t.liked_users.count %></h4>
        </div>
      </div>
      <div class="post-info">
        <div class="post-user">
          <% if t.user.image? %>
          <img src=<%= t.user.image %> class="mini-icon">
          <% else %>
          <img src="/assets/noicon.jpg" class="mini-icon">
          <% end %>
          <p><%= t.user.name %></p>
        </div>
      </div>
    </div>
    <% end %>
  </div>
  <%= paginate @pagination %>

</div>
