<%= stylesheet_link_tag 'index', :media => "all" %>

<div class="posts-container">
<h1>缶チューハイ</h1>
<p>ストロング系からノンアルまで、お好きな缶チューハイを共有しましょう！</p>
<div class="btn-container">
  <div class="btn">
    <%= link_to "投稿", posts_new_path %>
  </div>
  <div class="btn">
    <%= link_to "検索", posts_search_path %>
  </div>
</div>

  <% @posts.each do |t| %>
    <div class="post">
      <div class="main-box">
        <div class="post-info">
          <p>タイトル: <%= t.title %></p>
          <p>投稿者: <a href="/users/<%= t.user.id %>"><%= t.user.name %></a></p>
          <p>商品名: <%= t.product %></p>
          <p>メーカー: <%= t.maker %></p>
        <div class="body-container">
        <%= t.body %><br>
          <div class="image-container">
            <%= image_tag t.image_url, size: "250x200" if t.image? %>
          </div>
        </div>
      </div>
        <div class="post-option">
          (♡<%= t.liked_users.count %>)
          <%= link_to "詳細", post_path(t.id) %>
          <% if user_signed_in? && current_user.id == t.user_id %>  
          <%= link_to "編集", edit_post_path(t.id) %>
          <%= link_to "削除", post_path(t.id), method: :delete %>
          <% end %>
          <p class="time">投稿日: <%= t.created_at.to_s(:datetime_jp) %></p>
        </div>
    </div>
  <% end %>
</div>

