<div class="posts-container">
  <h1><%= @post.title %></h1>
  <div class="p-wrapper">
    <p>投稿者: <a href="/users/<%= @post.user.id %>"><%= @post.user.name %></a></p>
    <p>商品名: <%= @post.product %></p>
    <p>メーカー: <%= @post.maker %></p>
    <p><%= @post.body %></p>
  </div>
  <p class="time">投稿日: <%= @post.created_at.to_s(:datetime_jp) %></p>
  <h3>いいね: <%= @post.likes.count %></h3>

  <!-- 投稿者なら編集・削除、それ以外のユーザーならいいねボタンを表示 -->
  <% if user_signed_in? && current_user.id == @post.user_id %> 
    <div class="btn"> 
      <%= link_to "編集", edit_post_path(@post.id) %>
    </div>
    <div class="btn">
      <%= link_to "削除", post_path(@post.id), method: :delete %>
    </div>
  <% elsif user_signed_in? && current_user.id != @post.user_id %>
    <% if current_user.already_liked?(@post) %>
      <%= button_to '取り消し', post_like_path(@post), method: :delete %>
    <% else %>
      <%= button_to 'いいね', post_likes_path(@post) %>
    <% end %>
  <% end %>

  <div class="comment-wrapper">
    <h3>コメント一覧</h3>

    
    <% @comments.each.with_index(1) do |c, i| %>
      <!-- 最新コメントとして空のコメントが表示されるバグがあったので、最新コメントが表示されない処理-->
      <% if i != @comments.size %> 
        <div class="comment">
          [<%= i %>]
          <%= c.user.name unless c.user.blank? %>
          <br>
          <%= c.comment unless c.comment.blank? %>
        </div>
        <br>
      <% end %>
    <% end %>
    
    <% if user_signed_in? %>
      <p>コメントを投稿する</p>
      <%= form_with(model: [@post, @comment], local: true) do |f| %>
        <%= f.text_area :comment%>
        <%= button_tag type: "submit" do %>
          <p>投稿</p>
        <% end %>
      <% end %>
      <% else %>
      <p>コメントを投稿するにはログインしてください。</p>
    <% end %>
  </div>
  <%= link_to "投稿一覧に戻る", posts_path %>
</div>
