<div class="gallery-container">
    <h1 class="title">Edit Post</h1>

    <div class="form-container">
      <%= form_for @foto do |f| %>
      <!-- エラーメッセージ -->
      <%= render 'layouts/error_messages', model: f.object %>
      <%= f.text_field :title,size: 140, :class => 'title-form', :placeholder => 'タイトル' %>
      <%= f.text_area :body,size: 140, :class => 'body-form' %>
      <p>写真</p>
      <%= f.file_field :image, :class => 'image-form' %>
      <%= f.submit "Post", class: "submit-btn" %>
      <% end %>
    </div>
</div>