<%= stylesheet_link_tag 'foto', :media => "all" %>

<div class="gallery-container">
  <h1>宅飲みギャラリー</h1>
  <p>あなたの宅飲みライフを写真で共有しましょう！</p>
    <div class="btn-container">
      <div class="btn">
        <%= link_to "投稿", fotos_new_path %>
      </div>
      <div class="btn">
        <%= link_to "検索", fotos_search_path %>
      </div>
    </div>

<!--投稿表示-->
  <% @fotos.each do |t| %>
    <div class="foto-wrapper">
      <div class ="foto-post">
      <img src=<%= t.image_url %> class= "gallery-foto">
      <%= link_to "", foto_path(t.id) %>
        <div class="foto-option">
          <h4>♡ <%= t.fotoliked_users.count %></h4>
        </div>
      </div>
      <div class="foto-user">
          <% if t.user.image? %>
            <img src=<%= t.user.image %> class = "mini-icon">
          <% else %>
            <img src="/assets/noicon.jpg" class= "mini-icon">
          <% end %>
          <p><%= t.user.name %></p>
      </div>
    </div>
  <% end %>
  <%= paginate @fotos %>

</div>



