<%= stylesheet_link_tag 'foto', :media => "all" %>

<div class="gallery-container">
  <h1>Gokugoku Gallery</h1>
  <p>あなたの宅飲みライフを写真でシェアしましょう！</p>
    <div class="btn-container">
      <div class="btn">
        <%= link_to "投稿", fotos_new_path %>
      </div>
      <input type="button" id="btn" value='検索'>
    </div>

  <!-- モーダル -->
  <%= render 'layouts/modal_search', model: "fotos" %>
  
  <!--投稿表示-->
  <div class="foto-container">
    <% @fotos.each do |t| %>
      <div class="foto-wrapper">
        <div class ="foto-post">
        <img src=<%= t.image_url %> class= "gallery-foto">
        <%= link_to "", foto_path(t.id) %>
          <div class="foto-option">
            <h4>♡ <%= t.fotoliked_users.count %></h4>
          </div>
        </div>
        <div class="foto-info">
          <div class="foto-user">
              <% if t.user.image? %>
                <img src=<%= t.user.image %> class = "mini-icon">
              <% else %>
                <img src="/assets/noicon.jpg" class= "mini-icon">
              <% end %>
              <p><%= t.user.name %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <%= paginate @pagination %>

</div>








