<%= stylesheet_link_tag 'foto', :media => "all" %>

<div class="gallery-container">
    <h1 class="title">New Post</h1>

    <div class="form-container">
      <%= form_for @foto do |f| %>
      <!-- エラーメッセージ -->
      <%= render 'layouts/error_messages', model: f.object %>
      <%= f.text_field :title,size: 140, :class => 'title-form', :placeholder => 'タイトル' %>
      <%= f.text_area :body,size: 140, :class => 'body-form' %>
      <p>写真</p>
      <%= f.file_field :image, :class => 'image-form' %>
      <%= f.text_field :tag_list, value: @foto.tag_list.join(','), size: 140, :placeholder => 'タグ' %>
      <p class="tag-discription">複数指定したい場合は半角カンマで区切ってください。</p>
      <p class="tag-discription">例: ノンアルコール,飲みやすい</p>
      <%= f.submit "Post", class: "submit-btn" %>
      <% end %>
    </div>
</div>
       