<div class="posts-container">
  <p class="page-title"><%= @foto.title %></p>
  <div class="f-wrapper">
    <div class="left-side">
      <p><%= safe_join(@foto.body.split("\n"),tag(:br)) %></p>
    </div>
    <div class="right-side">
      <div class="img-wrapper">

        <% if @foto.image? %>
          <%= image_tag @foto.image_url %>
        <% else %>
          <img src="/assets/noimage.png">
        <% end %>
      </div>
    </div>

    <div class="bottom-side">
      <p><%= @foto.created_at.to_s(:datetime_jp) %></p>
      <div class="user-info">
        <% if @foto.user.image? %>
          <img src=<%= @foto.user.image %>>
        <% else %>
          <img src="/assets/noicon.jpg">
        <% end %>
        <a href="/users/<%= @foto.user.id %>"><%= @foto.user.name %></a>
      </div>

      <p class="like"><i class="fas fa-heart"></i> <%= @foto.fotolikes.count %></p>
      <!-- 投稿者なら編集・削除、それ以外のユーザーならいいねボタンを表示 -->
      <% if user_signed_in? && current_user.id == @foto.user_id %> 
        <div class="btn"> 
          <%= link_to "編集", edit_foto_path(@foto.id) %>
        </div>
        <div class="btn danger-btn">
          <%= link_to "削除", foto_path(@foto.id), data: { confirm: "投稿を削除しますか？" }, method: :delete %>
        </div>
      <% elsif user_signed_in? && current_user.id != @foto.user_id %>
        <% if current_user.already_fotoliked?(@foto) %>
          <%= button_to '取り消す', foto_fotolike_path(@foto), method: :delete, class: "good-btn"%>
        <% else %>
          <%= button_to 'いいね！', foto_fotolikes_path(@foto), class: "good-btn"%>
        <% end %>
      <% end %>

    </div>

  

    <div class="comment-wrapper">
      <p class="comment-title">Comment</p>
      
      <% @fotocomments.each.with_index(1) do |c, i| %>
        <!-- 最新コメントとして空のコメントが表示されるバグがあったので、最新コメントが表示されない処理-->
        <% if i != @fotocomments.size %> 
          <div class="comment">
            [<%= i %>]
            <a href="/users/<%= c.user.id %>"><%= c.user.name %></a>
            <% if user_signed_in? && current_user.id == c.user.id %>
              <%= link_to '削除', foto_fotocomment_path(@foto, c), data: { confirm: "コメントを削除しますか？" }, method: :delete %>
            <% end %>
            <br>
            <%= safe_join(c.fotocomment.split("\n"),tag(:br)) unless c.fotocomment.blank? %>
          </div>
          <br>
          
        <% end %>
      <% end %>

      <% if @fotocomments.count == 0%>
        <p>コメントはありません。</p>
        <br>
      <% end %>
      
      <% if user_signed_in? %>
        <%= form_with(model: [@foto, @fotocomment], local: true) do |f| %>
          <%= f.text_area :fotocomment, :placeholder => 'コメントを入力' %>
          <%= button_tag type: "submit", class: "submit-btn" do%>
            <p>投稿</p>
          <% end %>
        <% end %>
        <% else %>
        <p>コメントを投稿するにはログインしてください。</p>
      <% end %>
    </div>
    <br>
  </div>
</div>
