<!DOCTYPE html>
<html>
  <head>
    <title>gokugoku</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header>
      <h1><%= link_to "gokugoku", hello_index_path %></h1>
      <div class="header-list">
      <ul>
        <li><%= link_to "飲みメモ",  posts_path %></li>
        <li><%= link_to 'ギャラリー', fotos_path %></li>
        <% if user_signed_in? %>
          <li><%= link_to "マイページ", user_path(current_user.id) %></li>
        <% else %>
        <li><%= link_to "ログイン", users_sign_in_path %></li>
        <% end %>
      </ul>
      </div>

      <!-- ハンバーガーメニュー　PCでは非表示-->
      <div id="nav-drawer">
        <input id="nav-input" type="checkbox" class="nav-unshown">
        <label id="nav-open" for="nav-input"><span></span></label>
        <label class="nav-unshown" id="nav-close" for="nav-input"></label>
      <div id="nav-content">

      <!-- PC用メニュー　スマホでは非表示-->
          <ul>
            <% if user_signed_in? %>
              <li><%= link_to "マイページ", user_path(current_user.id) %></li>
            <% else %>
              <li><%= link_to "ログイン", users_sign_in_path %></li>
            <% end %>
            <li><%= link_to "飲みメモ",  posts_path %></li>
            <li><%= link_to 'ギャラリー', fotos_path %></li>
            <li><%= link_to 'トップページ', root_path %></li>
          </ul>
        </div>
      </div>
    </header>
    <main>
      <%= yield %>
    </main>
    <footer>
      <div class="footer-logo">
        <h2>gokugoku</h2>
      </div>

      <div class="footer-sns">

        <!-- Twitter -->
        <a href="http://twitter.com/share?url=gokugoku.herokuapp.com/&hashtags=gokugokuで宅飲みライフを共有しよう！" class="twitter-share">
          <i class="fab fa-twitter"></i>ツイート
        </a>

        <!-- Line -->
        <div class="line-it-button" data-lang="ja" data-type="share-a" data-ver="3" data-url="https://gokugoku.herokuapp.com/" data-color="default" data-size="large" data-count="false" style="display: inline-block;"></div>
        <script src="https://d.line-scdn.net/r/web/social-plugin/js/thirdparty/loader.min.js" async="async" defer="defer"></script>
        
      </div>
    </footer>
  </body>
</html>